{% extends 'maquinas/nav.html' %}

{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/addmaq.css' %}">
    <title>Adicionar Máquina</title>
</head>
<body>
    <div class="container">
        <h1>Adicionar Máquina</h1>
        <form method="post" action="{% url 'adicionarMaquina' %}" class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Adicionar Máquina</button>
        </form>
    </div>

</body>
</html>
{% endblock content %}
